body {
    font-family: sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

.title {
    margin: 40px;
    font-size: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    padding: 50px;
}

.card {
    background: #1c1c1c;
    padding: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #2a2a2a;
}


.pink {
  background: linear-gradient(45deg, #f170ff 0%, #ff53a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}

.blue {
  background: linear-gradient(45deg, #5ee7df 0%, #3d7bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}

.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    padding: 10px;
    background: linear-gradient(90deg, #525252 0%, #303030 100%);
    border-radius: 25px;
}

.fileP {
    background: linear-gradient(90deg, #f170ff 0%, #ff5ce4 100%);
    padding: 0px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
}

.fileB {
    background: linear-gradient(90deg, #57b6ff 0%, #3d7bff 100%);
    padding: 0px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
}
/* Switch Button */
.lang-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #555;
    border-radius: 34px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.slider {
    background: linear-gradient(45deg, #ff70d9 10%, #1efffb 100%);
}

input:checked+.slider:before {
    transform: translateX(24px);
}